.backstage {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    height: 633px;
}
.backstage_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
    margin-top: 140px;
    width: 1161px;
    height: 403px;
}
.picture {
    background: url('../../assets/images/bamboo-cap.png') 0 0/100% 100%;
    width: 609px;
    height: 403px;
}
.text {
    display: flex;
    flex-direction: column;
    width: 465px;
    height: 403px;
}
.flowers {
    position: relative;
    background: url('../../assets/images/flower_foto1.png') no-repeat;
    width: 200px;
    height: 605px;
    margin-top: 12px;
    /* right: -93px; */
}
h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}
h2 {
    margin-top: 54px;
    margin-bottom: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}
p {
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
 }









