.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    background-color: black;
    padding-left: 220px;
    padding-right: 220px;
}
.navbar>div {
    margin-top: auto;
    margin-bottom: auto;
}
a {
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
}
.title {
    display: flex;
    text-align: center;
    width: 82px;
    height: 52px;
}
.title>a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    width: 617px;
}
.menu a {
    margin-top: auto;
    margin-bottom: auto;
}
.menu a:nth-child(2) {
    color: orange
}
.designed {
    width: 105px;
    height: 22px;
    margin-left: 25px;
    white-space: nowrap;
}
a:hover {
	color: orange;
}









